/* Style sideber dropdown menu admin এর সাইড বারে যে  ড্রপডাউন মেনু রয়েছে  রুটিন এর জন্য সিটর  সি এস এস কোড */
.navbar1 {
  overflow: hidden;
  
}
.navbar1:hover {
  background-color:gray;
  color:white;

}
.navbar1 a {
 
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown1 {
  float: left;
  overflow: hidden;
}

.dropdown1 .dropbtn1 {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #818181;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn1.dropdown-toggle:hover {
  color: #fff;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown1:hover .dropdown-content {
  display: block;

}

